@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
body {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-family: "Montserrat", sans-serif;
}

#sidebar {
  width: 200px;
  height: 100vh;
  background-color: rgb(225, 255, 245);
  border-top-right-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
}

.logo-placeholder img {
  max-width: 180px;
  padding: 10px;
}
.menu-items {
  display: flex;
  flex-direction: column;
}

.menu-item {
  text-decoration: none;
  padding: 10px;
  border-top: 1px solid black;
  color: #2b2b2b;
  transition: 0.3s;
}
.menu-item:hover {
  color: #2b2bb2;
  background-color: rgb(192, 255, 234);
}
.menu-item:last-child {
  border-bottom: 1px solid black;
}

.info {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  align-items: center;
  padding-top: 10px;
}

.info img {
  max-width: 70%;
  border-radius: 25px;
}
