$red : red;
$blue : blue;
$green : green;
@use "module.scss" as r;


@mixin article($p1, $p2, $p3) {
    color: $p1;
    border-color: $p2;
    font-size: $p3;
}


div {
    width: r.rem(1200);
    margin: r.rem(20);
    padding: r.rem(20);
    border: r.rem(1) solid $red;
    display: flex;
    flex-direction: column;
    gap: r.rem(10);
    justify-content: center;
    align-items: center;

    .h {
        color: $green;
        text-decoration: underline;
        text-decoration-color: $blue;
        text-decoration-thickness: r.rem(1);
    }

    h1 {
        @extend .h;
    }

    h2 {
        @extend .h;
        padding: r.rem(16);
        border: r.rem(1) solid $red;
    }

}

section {


    article {
        padding: r.rem(10);
        text-align: center;
        border: r.rem(1) solid;
    }

    &:nth-child(3) {
        display: flex;

        article:nth-child(odd) {
            @include article($blue, $green, r.rem(16))
        }

        article:nth-child(even) {
            @include article($red, $green, r.rem(16))
        }
    }

    &:nth-child(4) {
        display: flex;

        @for $index from 1 to 20 {
            div:nth-child(#{$index}) {
                background-color: darken(#fff, calc(5% * $index));

                @if $index ==10 {
                    background-color: $blue;
                    color: $red;
                }
                @if $index >6 {
                    color: #585858;
                }
                @if $index >10 {
                    color: #a3a3a3;
                }
                @if $index >15 {
                    color: #f7f7f7;
                }

            }
        }

    }


    &:nth-child(5) {
        width: 100%;

        article {
            @include article($green, $blue, r.rem(22.4))
        }

    }
}

@mixin fs {
    padding: 0;
    width: r.rem(45);
    height: r.rem(45);
    margin-left: 0;
    margin-right: r.rem(10)
}

@for $index from 1 to 4 {

    .fs-#{$index}rem {
        @include fs;
        font-size: $index + rem;

        @if $index ==1 {
            align-items: flex-start;
            justify-content: start;
        }

        @else if $index ==2 {
            align-items: flex-start;
            justify-content: start;
        }

        @else if $index ==3 {
            align-items: flex-start;
            justify-content: baseline;
        }
    }
}