$color-red : red;
$color-blue : blue;
$color-green : green;

div {
    padding: 15px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        color: $color-green;
        text-decoration: underline;
        text-underline-position: under;
        text-decoration-color: $color-blue;
        text-decoration-thickness: 1px;
  
    }
    section {
        display: flex;
        article {
            padding: 20px;
            border: 1px solid $color-green;
            text-align: center;
            color: $color-red;

            &:nth-child(2n+1) {
                color: $color-blue;
            }
        }
    }
}